# Build
build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# VSCode
.vscode/

# CLion
.idea/

# Binary
*.out
*.o
*.so
*.a

# Datasets
dataset1.csv
dataset2.csv
dataset3.csv
dataset4.csv

# Executables
projectile

# OS
.DS_Store